/* Write your CSS here */
.button {
  color: black;
  width: 100px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}
.container {
  background-color: black;
  background-size: cover;
  height: 70%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 370px;
  border-radius: 15px;
  padding-bottom: 10px;
}
.dark-Mode {
  background-color: black;
  color: white;
}
.light-Mode {
  background-color: white;
  color: black;
  box-shadow: 2px;
}
